<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Porfolio Argentina Programa</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos minima mollitia explicabo! Laborum quibusdam voluptatem porro eum, mollitia ipsam doloribus dolorum est debitis? Unde magni in, consequuntur quasi iste beatae.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 parte2 offset-md-1 offset-lg-1">
            <img src="../../../assets/APLogo.png" class="img-fluid img-proyecto">
        </div>
    </div>

</div>
