<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
     <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, non deserunt? Sit veritatis, dolor excepturi, dolore ipsam nihil eligendi ex quos debitis, inventore ab beatae sed fuga quae accusamus asperiores.</p>
            </ul>
            <ul>
                <li>
                    <h1>Trabajo 2</h1> - <h3>(years)</h3>
                </li>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, non deserunt? Sit veritatis, dolor excepturi, dolore ipsam nihil eligendi ex quos debitis, inventore ab beatae sed fuga quae accusamus asperiores.</p>
            </ul>
            <ul>
                 <li>
                     <h1>Trabajo 3</h1> - <h3>(years)</h3>
                </li>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, non deserunt? Sit veritatis, dolor excepturi, dolore ipsam nihil eligendi ex quos debitis, inventore ab beatae sed fuga quae accusamus asperiores.</p>
            </ul>
        </div>
</div>
