.gradient-custom {
    /* fallback for old browsers */
    background: #D2B4DE;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(166, 144, 190), rgb(137, 152, 179));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(181, 138, 192), rgb(181, 144, 206))
    }