.row{
    padding: 10px;
}
div{
    background-color: #D2B4DE;
    text-align: center;
}
/*estilo  etiqueta nombre*/

#nombre{
    font-weight: bold;
    
}
/* estilo etiqueta perfilfoto*/

@media (min-width: 576px){
    #perfilfoto{
        position: absolute;
        width: 10%;
        box-shadow: 3px 3px 3px grey;
        border-radius: 50%;
        left: 1%;
        top: 150px;

    }
}
@media (max-width: 575px){
    #perfilfoto{
        position: absolute;
        width: 30%;
        box-shadow: 3px 3px 3px grey;
        border-radius: 50%;
        left: 2%;
        top: 180px;

    }
}
    

